<div class="container mx-auto my-3">
    <div><h3 class="bg-success text-warning fw-bold p-2 shadow rounded" >Angular Practice</h3>
    </div>
    <div class="row">
        <div class="col-md-4 col-12 col-sm-6 mb-3">
            <div class="card shadow fw-bold bg-secondary ">
                <div class="card-body text-white">
                    <p class="card-text">Reactive Form Validation</p>
                    <h6 class=" bg-secondary  text-warning"> <a routerLink="/login"
                            class="btn btn-danger btn-block mb-3">Login</a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 col-sm-6 mb-3">
            <div class="card shadow fw-bold bg-secondary ">
                <div class="card-body text-white">
                    <p class="card-text">Template Driven Form Validation</p>
                    <h6 class=" bg-secondary  text-warning"> <a routerLink="/reg"
                            class="btn btn-danger btn-block mb-3">Register</a>

                    </h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 col-sm-6 mb-3">
            <div class="card shadow fw-bold bg-secondary ">
                <div class="card-body text-white">
                    <p class="card-text">Retrive Data from MYSQL DB</p>
                    <h6 class=" bg-secondary  text-warning"> <a routerLink="/dbdata"
                            class="btn btn-danger btn-block mb-3">Get Data</a>

                    </h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 col-sm-6 mb-3">
            <div class="card shadow fw-bold bg-secondary ">
                <div class="card-body text-white">
                    <p class="card-text">Two way Data Binding Demo</p>
                    <h6 class=" bg-secondary  text-warning"> <a routerLink="/twoway"
                            class="btn btn-danger btn-block mb-3">Test</a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 col-sm-6 mb-3">
            <div class="card shadow fw-bold bg-secondary ">
                <div class="card-body text-white">
                    <p class="card-text">Dynamic Insert and Delete</p>
                    <h6 class=" bg-secondary  text-warning"> <a routerLink="/modify"
                            class="btn btn-danger btn-block mb-3">Try</a>

                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>