<div class="container my-5">
    <div class="card-container mx-auto my-2">
        <div class="row-container row shadow text-secondary">
            <div class="col form-container ">
                <form class="custom-form" #regform="ngForm">
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" placeholder="" name="name" [(ngModel)]="user.uname"
                            [ngClass]="uname.touched&&uname.invalid?'border border-danger':''" required
                            #uname="ngModel">
                        <label for="name" class="form-label"><span class="text-danger">*</span>User Name</label>
                        <span *ngIf="uname.touched&&uname.invalid" class="text-danger">User name required..!</span>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" placeholder="" name="email" [(ngModel)]="user.email"
                            [ngClass]="email.touched&&email.invalid?'border border-danger':''" required
                            #email="ngModel">
                        <label for="name" class="form-label"><span class="text-danger">*</span>Email</label>
                        <span *ngIf="email.touched&&email.invalid" class="text-danger">Email required..!</span>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" placeholder="" name="phno" [(ngModel)]="user.phno"
                            #phno="ngModel">
                        <label for="name" class="form-label">Phone Number</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" placeholder="" name="pwd" [(ngModel)]="user.pwd"
                            [ngClass]="pwd.touched&&pwd.invalid?'border border-danger':''" required #pwd="ngModel">
                        <label for="name" class="form-label"><span class="text-danger">*</span>Password</label>
                        <span *ngIf="pwd.touched&&pwd.invalid" class="text-danger">User name required..!</span>
                    </div>

                    <div class="my-4 text-center">
                        <button type="submit" (click)="reg()" class="btn btn-primary" [disabled]="regform.invalid">Register</button>
                    </div>
                    <div class="text-center">
                        Do you have an account? <a routerLink="/login" class="btn btn-outline-danger">Login here</a>
                    </div>
                </form>
            </div>
            <div
                class="col text-container text-center d-flex flex-column justify-content-center align-items-center text-light">
                <h2>Registration form</h2><br>
                <p> Register with valid credentials and Enjoy our services</p>
            </div>
        </div>
    </div>
</div>